# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=/Users/brinon/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes

#ZSH_THEME="robbyrussell"
#ZSH_THEME="powerlevel9k/powerlevel9k"
ZSH_THEME="agnoster"


# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
export UPDATE_ZSH_DAYS=7

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
 COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
#
plugins=(git docker github osx pip python)

source $ZSH/oh-my-zsh.sh

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi
#
export VIM8='/usr/local/Cellar/vim/8.0.1200/bin/vim'
export MACVIM='/Applications/MacVim.app/Contents/bin/mvim'
export EDITOR="nvim"

#bindkey -v 


#
# Example aliases
 alias zshconfig="vim ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias imgcat="sh ~/Repos/imgcat/imgcat.sh"


# some alias
alias bim='vim'
# python
alias py="python"
alias ipy="ipython"
alias incaenv="source activate inca-env"

# docker-compose
alias docker-stop-all='docker stop $(docker ps -a -q)'
alias docker-rm-all='docker rm $(docker ps -a -q)'
alias docker-rm-imgs='sudo docker rmi $(sudo docker images -q)'

alias dc="docker-compose"

function dcrun() {
  docker-compose run --rm "$@"
}

alias k="kubectl"

# random usefull
alias reload="source ~/.zshrc"
alias myip="curl ipinfo.io/ip"
alias inca="cd ~/crowdai/inca"

# editor
alias vim="nvim"
alias v="nvim"

# pip zsh completion start
function _pip_completion {
  local words cword
  read -Ac words
  read -cn cword
  reply=( $( COMP_WORDS="$words[*]" \
             COMP_CWORD=$(( cword-1 )) \
             PIP_AUTO_COMPLETE=1 $words[1] ) )
}
compctl -K _pip_completion pip
# pip zsh completion end

# Go
export GOPATH=/Users/brinon/Repos/Go

# nim
export PATH=/Users/brinon/.nimble/bin:$PATH

alias ...=../..
export PATH="/usr/local/opt/curl/bin:$PATH"

# added by Anaconda2 5.0.1 installer
export PATH="/Users/brinon/anaconda2/bin:$PATH"

# added by Anaconda3 5.1.0 installer
export PATH="/anaconda3/bin:$PATH"

# Anaconda3 installation
export PATH="$HOME/anaconda3/bin:$PATH"

# ctags
alias ctags="`brew --prefix`/bin/ctags"

export PATH=/usr/local/bin:$PATH

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/brinon/google-cloud-sdk/path.zsh.inc' ]; then source '/Users/brinon/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/brinon/google-cloud-sdk/completion.zsh.inc' ]; then source '/Users/brinon/google-cloud-sdk/completion.zsh.inc'; fi

# remove all .pyc and __pychache__ folders
pyclean () {
  find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf
}


